body {
  background-color: white !important;
}
.container{
  perspective: 1000px;
  perspective-origin: 50% 50%;
  font-family: 'fontawesome';
  height: 100vh;
}
.container .cube{
  position: relative;
  left: 45%;
  top: 40%;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: rotateX(135deg) rotateY(-217deg) rotateZ(-88deg);
}
.container .cube div{
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: #fff;
}
.container .cube div span{
  font-size: 32px;
  font-family: 'fontawesome';
}
.container .cube .front{
  transform: translateZ(100px);
  background-size: 200px;
  background-image: url("../photo/dice1.png");
  height: 200px;
  width: 200px;
}
.container .cube .back{
  transform: translateZ(-100px) rotateY(180deg);
  background-size: 200px;
  background-image: url("../photo/dice6.png");
  height: 200px;
  width: 200px;
}
.container .cube .right{
  transform-origin: top right;
  background-image: url("../photo/dice5.png");
  background-size: 200px;
  transform: rotateY(-270deg) translateX(100px);
  height: 200px;
  width: 200px;
}
.container .cube .left{
  background-size: 200px;
  background-image: url("../photo/dice3.png");
  transform-origin: center left;
  transform: rotateY(270deg) translateX(-100px);
  height: 200px;
  width: 200px;
  
}
.container .cube .top{
  background-image: url("../photo/dice2.png");
  background-size: 200px;
  transform-origin: top center;
  transform: rotateX(-270deg) translateY(-100px);
  height: 200px;
  width: 200px;
}
.container .cube .bottom{
  background-size: 200px;
  background-image: url("../photo/dice4.png");
  transform-origin: bottom center;
  transform: rotateX(270deg) translateY(100px);
  height: 200px;
  width: 200px;
}

/*DOT ALIGNMENT */
.container .cube .front span,.container .cube .left span:nth-child(1),
.container .cube .right span:nth-child(1){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.container .cube .top span:nth-child(1),.container .cube .left span:nth-child(2),
.container .cube .right span:nth-child(2),
.container .cube .bottom span:nth-child(1){
  position: absolute;
  top: 35px;
  left: 35px;
}
.container .cube .top span:nth-child(2),.container .cube .left span:nth-child(3),
.container .cube .right span:nth-child(3),
.container .cube .bottom span:nth-child(2){
  position: absolute;
  bottom: 35px;
  right: 35px;
}
.container .cube .right span:nth-child(4),
.container .cube .bottom span:nth-child(3){
  position: absolute;
  top: 35px;
  right: 35px;
}
.container .cube .right span:nth-child(5),
.container .cube .bottom span:nth-child(4){
  position: absolute;
  bottom: 35px;
  left: 35px;
}
.container .cube .back pre{
  font-size: 32px;
  font-family: 'fontawesome';
  margin: 0;
}
.container .cube .back .firstPre{
  position: absolute;
  top: 45px;
  left: 26px;
}
.container .cube .back .secondPre{
  position: absolute;
  bottom: 45px;
  right: 26px;
}
.cube{
	display: inline-block;
	margin-right: 60px;
	margin-left: 0px;
  }

pre{
color: #eee !important;
}

#num_dice{
  margin-top: 20px !important;
  display: inline-block;
}

#form_dice{
  margin-top: 20px !important;
  padding: 0px !important;
  display: inline-block;
  float: right;
  border: 1px solid black;
}

.cube{
	left: 0% !important;
}

.hiddenDice{
  display: none;
}

  @keyframes animate {
	50%{
	    transform: rotateX(145deg) rotateY(165deg) rotateZ(135deg);
	    top: 30%;
	}
	100%{
		transform: rotateX(276deg) rotateY(256deg) rotateZ(246deg);
		top: 40%;
	}
}
.div_dise{
  top: 50%;
  height: 80%;
}
.fixed-bottom{
  display: inline-block;
  position: fixed;
  top: 80%;
  left: 44%;
}
.dice_btn{
  padding: 20px 40px !important;
  font-size: larger;
}

.backRegister{
  float: left;
  position: fixed;
  top: 5%;
  left: 1%;
  font-size: larger;
}
.list-inline{
  text-align: center;
}

.modal_h1{
  text-align: center;
  width: 100%;
}

.navbar{
  padding-left: 10%;
  padding-right: 10%;
}

.logout-a{
  color: rgba(0, 0, 0, 0.55) !important;
}

.btn_logout{
  width: 40px;
  height: 30px;
}